@charset "utf-8";
/*对应网页设计软件列表*/

/*删除浏览器的默认样式*/
*{list-style:none;outline:none;}

/*全局控制*/
body{font-family:"微软雅黑";text-align: center;}

a{
	text-transform: 1em;
	/*首行缩进1字符*/
	
	display: inline-block;
	font-size: 22px;
	color:#5e2d00;
}

a:nth-chile(1){text-indent: 0}
/*第一个链接首行缩进为零*/

a:link,a:visited{text-decoration: none}
/*并集选择器-链接前链接后统一样式*/

a:hover{/*鼠标访问时*/
	text-decoration: underline;
	/*下划线*/
	color:#f03;
	/*颜色*/
}
dl      {display: none ;} /*隐藏dl列表-为none元素*/
:target {display: block;}
/*target选择器-链接到的内容显示-为block元素*/

dd{
	line-height: 38px;
	font-size: 22px;
	font-family: "微软雅黑";
	color:#333;
}

/*DD不能添加list-style-type*/
/*但可以使用:before伪元素选择器*/
dd:before{content: url(images/11.png);}
/*before在前面-添加小图片*/

dd:nth-child(odd){color:#BDA793;}
/*奇数行选择1，3，5（1为图片看不出来）-指定颜色*/



dd:nth-child(2) em{
	color:#f03;
	font-weight: bold;
	font-style: normal;
}/*后代选择器-第二个子样式*/

dd:nth-child(3) em{
	color: #5e2d00;
	font-weight: bold;
	font-style: normal;
}/*后代选择器-第三个子样式*/
